---
layout: page
titles:
  # @start locale config
  en      : &EN       Gallery
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  相册
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : *ZH_HANT  
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : *KO       
  ko-KR   : *KO
  fr      : *FR       
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
---

{% assign num = page.photos.size %}
<div>
  <ul>
    {% for i in (1..num) %}
    <li>
      <img
        src="{{ site.baseurl }}/images/photos/{{ page.photos.set }}-{{ i }}.jpg"
        alt="Photo {{ i }} from {{ page.photos.set | capitalize }}"
      />
    </li>
    {% endfor %}
  </ul>
  <div>
    <a href="{{ site.baseurl }}/photos/">View All Photo Sets</a>
  </div>
</div>
